@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Reportes</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/Content/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/theme/default.min.js"></script>
    <script src="~/WebJs/Base.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="page-container fade page-without-sidebar page-header-fixed page-with-top-menu">
        <input type="hidden" id="urlSeleccionaEmpresa" value="@Url.Action("SeleccionaEmpresa", "Login" )" />
        <input type="hidden" id="urlHome" value="@Url.Action("Index", "Home" )" />
        <!-- begin #header -->
        <div id="header" class="header navbar-default">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><span class="navbar-logo"></span><b>Reportes</b></a>
                <button type="button" class="navbar-toggle" data-click="top-menu-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end navbar-header -->
            <!-- begin header-nav -->
            <ul class="navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <img src="" alt="" />
                        <h4 class="d-none d-md-inline">Opciones</h4> <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("LogOut", "Login")" class="dropdown-item">Cerrar Sesion</a>
                    </div>
                </li>
            </ul>


            <!-- end header-nav -->
        </div>
        <!-- end #header -->
        <!-- begin #top-menu -->
        <div id="top-menu" class="top-menu">
            <!-- begin nav -->
            <ul class="nav">
                <li class="nav-header">
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="fa fa-home"></i>
                        <span>Reportes</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="../Reporte/ReporteVentas">Ventas</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- end nav -->
        </div>

        <!-- end #top-menu -->
        <!-- begin #content -->
        <div id="content" class="content">
            @RenderBody()
        </div>
        <!-- end theme-panel -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
        <div class="modal fade" id="modalLayoutEmpresas">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cambio de Empresa</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive form-inline">
                            <table class="table table-profile">
                                <tbody>
                                    <tr class="highlight">
                                        <td>Empresa</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a id="modalLayoutEmpresasAgregar" href="javascript:;" class="btn btn-success">Seleccionar Empresa</a>
                        <a id="modalLayoutEmpresasCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</body>
</html>
